@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables personalizadas */
:root {
  --color-primary: #2D3BF5;
  --color-secondary: #8C52FF;
  --color-accent: #10DAE7;
  --color-accent-2: #FF3D8A;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* FUENTE LEXEND */
body {
  font-family: 'Lexend', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* ANIMACIONES DE GRADIENTE */
@keyframes gradient-x {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

.animate-gradient {
    background-size: 400% 400%;
    animation: gradient-x 3s ease infinite;
}

.animate-gradient-slow {
    background-size: 400% 400%;
    animation: gradient-x 4s ease infinite;
}

.animate-gradient-fast {
    background-size: 400% 400%;
    animation: gradient-x 2s ease infinite;
}