---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import BenefitsSection from '../components/sections/BenefitsSection.astro';
import ProcessSection from '../components/sections/ProcessSection.astro';
import FeaturesSection from '../components/sections/FeaturesSection.astro';
import PricingPack from '../components/sections/PricingPackagesSection.astro';
import CTASection from '../components/sections/CTASection.astro';
import Footer from '../components/Footer.astro';
import OurPagesSection from '../components/sections/OurPagesSection.astro';

---

<Layout title="FaziI AI - Pagina Web  Profesionales en 180 minutos">
  <Header />
  <main>
    <HeroSection />
    <BenefitsSection />
    <ProcessSection />
    <FeaturesSection />
    <PricingPack />
    <OurPagesSection />
    <CTASection />
  </main>
  <Footer />
</Layout>